body{
	font-family: 'Kodchasan', sans-serif;
}

#registro{
	font-size: 30px;
	margin-left: 1020px;
	margin-top: 50px;
	text-decoration: none;
	color:  #7F5886;
}

#banner{
	font-size: 65px;
	width: 1349px;
	margin-top: -20px;
	display: inline-block;
}


#banner label{
	margin-bottom: 40px;
	font-size: 40px;
}


#menu{
	margin-left: 550px;
	margin-top: -110px;
}

#menu ul li{
	display: inline-block;

}

#menu ul li a{
	color: #939393;
	font-size: 18px;
	text-decoration: none;
	margin-right: 4em;
}

#h{
	font-size: 50px;
	margin-left: 300px;
	margin-bottom: 30px;
	color: #2f0557;
}

header{
	display: inline-block;
	max-width: 100px;
}

#logo{
	background-color: #242323;
	width: 200px;
	margin-top: -40px;
}

#carrito{
	margin-left: 1200px;
	margin-top: -60px;
	width: 38px;
}