body{
	font-family: 'Kodchasan', sans-serif;
}

#registro{
	font-size: 30px;
	margin-left: 1020px;
	margin-top: 50px;
	text-decoration: none;
	color:  #7F5886;
}

#banner{
	font-size: 65px;
	width: 1349px;
	margin-bottom: -10px;
	display: inline-block;
}


#banner label{
	margin-bottom: 40px;
	font-size: 40px;
}

.contenedor{
	width: 500px;
	position: relative;
	height: 280px;
	
}

.botones{
	font-size: 30px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.7);
	text-align: center;
	font-weight: bold;
	position: absolute;
	color: #fff;
	box-shadow: 0 0 10px rgba(255,255,255,.6);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}

#imagen{
	width: 1200px;
	margin-right: 900px;
	height: 200px;
}
.botones:hover{
	cursor: pointer;
	transform: scale(1.2,1.2);
}

.atras{
	left: 2%;
	top: calc(50%-70%);
	margin-top: 90px;
	margin-left: 70px;
}

.adelante{
	right: 2%
	top:calc(50% - 70%);
	margin-top: 70px;
	margin-left: 1190px;
}
#menu{
	margin-left: 550px;
	margin-top: -110px;
}

#menu ul li{
	display: inline-block;

}

#menu ul li a{
	color: #939393;
	font-size: 18px;
	text-decoration: none;
	margin-right: 4em;
}

#h{
	font-size: 50px;
	margin-left: 300px;
	margin-bottom: 30px;
	color: #2f0557;
}

header{
	display: inline-block;
	max-width: 100px;
}

#logo{
	background-color: #242323;
	width: 200px;
	margin-top: -40px;
}

#carrito{
	margin-left: 1200px;
	margin-top: -60px;
	width: 38px;
}

.footer{
	display: inline-block;
	background-color: #242323;
	width: 1349px;
	color: #939393
	height:300px;
	
}

#logoF{
	width: 250px;
	margin-left: 60px;
	padding: 50px;
}

#us{
	color: #6E459B;
	font-size: 14px;
}
#empresa ul li{
	list-style:none;
}

#empresa{
	margin-left: 430px;
	margin-top: -130px;
	text-decoration: none;
	font-size: 13px;
}

.vendido{
	color: black;
	font-size: 2em;
	margin-top: -200px;
}