body{
	font-family: 'Kodchasan', sans-serif;
}


#sesion{
 	margin-left: 5em;
}

#cuenta{
	font-size: 50px;
	margin-left: 150px;
}

.datos{
	margin-top: 40px;
	margin-left: 150px;
}
.datos label{
	font-size: 35px;
}

#cuadros-datos{
	margin-left: 520px;
	margin-top: -375px;

}

input{
	font-size: 33px;
}

select{
	font-size: 33px;
}


#siguiente{
	background: #242323;
	color: white;
	margin-left: 1000px;
	font-size: 35px;
	margin-top: 50px;
	width: 250px;
}



